import React, { Component } from 'react';
import './{{name}}.css';

class {{name}} extends Component {
  render() {
    return (
      <div styleName="{{name}}">
      </div>
    );
  }
}

export default {{name}};
